@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@100;300;400&display=swap');

@keyframes slideFromLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
    }
}

:root {
    --theme-color: #1b62ef;
}

body {

    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.header .display-image{
    width:430px;
    margin:auto;
}
.link {
    text-decoration: none;
    color: white;

}

.btn-link {
    background-color: var(--theme-color);
    padding: 0.4rem 1rem;
    border-radius: 20rem;
    display: block;
    width: 10%;
    margin: 1rem auto;

}

.list-inline {
    display: inline;
    margin: 50px;
}

.navigation {
    background-color: var(--theme-color);
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 1rem;
    font-size: large;
}

.navigation .container-fluid {
    display: flex;
    justify-content: space-between;
}

.navigation .brand {
    font-weight: bold;
    font-size: x-large;
    margin: auto 0px;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.section {
    text-align: center;
    padding: 50px;
    border-radius: 2rem;
    margin: 2rem auto;
    width: 50%;
}

.section h1,
h2,
h3 {
    text-align: center;
}

.section-skills,
.section-blogs {
    background-color: #f3f4f6;
}

.section .container-skill {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 3rem;

}

.footer .container-links {
    background-color: var(--theme-color);
    padding: 2rem;
    border-top-right-radius: 1rem;
}

.container-header {
    display: flex;
    justify-content: space-around;
}

.container-header .intro .intro-greeting {
    animation-name: slideFromLeft;
    animation-duration: 1s;
}

.container-header .intro .intro-desc {
    animation-name: slideFromLeft;
    animation-duration: 1.3s;
}

.container-header .intro {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    max-width: 500px;
}

.container-header .my-name {
    color: var(--theme-color);
    font-size: 35px;
    display: block;
}